body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 1em;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
}

label {
    margin: 0.5em 0 0.2em;
}

input {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5em 1em;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#car-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.car-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.car-image {
    width: 200px;
    max-height: 200px;
    object-fit: cover;
  }
  

.car-item h3 {
    margin: 0 0 1em;
}

.car-item p {
    margin: 0.5em 0;
}

.car-item a {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.edit-btn:hover {
    background-color: #555;
}

.delete-btn {
    width: 100%;
    padding: 10px;
    background-color: red; /* Coral color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.delete-btn:hover{
    background-color: rgb(233, 93, 93);
}

.edit-btn {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}


@media (max-width: 1550px) {
    #car-list {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 900px) {
    #car-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    #car-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

